<?xml version="1.0"?>
<configuration>Igor Test
	<configSections>
    <section name="micajah.common" type="Micajah.Common.Configuration.FrameworkConfiguration, Micajah.Common3" />
<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Micajah.FileService.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="chargify" type="ChargifyNET.Configuration.ChargifyAccountRetrieverSection"/>
	</configSections>
	<connectionStrings>
		<add name="DatabaseConsumerEndpoint1" connectionString="Database=;" providerName="System.Data.SqlClient"/>
		<add name="Micajah.Common.ConnectionString" connectionString="Data Source=localhost;Initial Catalog=BWD_MC3_Master;Persist Security Info=True;User ID=sa;Password=isaker" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<location path="configuration/location/SelectLocation.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="home/ticket/UserConfirmation.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="home/ticket/UserEditConfirmation.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="password/RetrievePassword.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="newuser/default.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="default.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="invalidtoken.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AccountTrouble.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="default_new.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="timetracking/RateDiagnostics.aspx">
		<system.web>
			<xhtmlConformance mode="Transitional"/>
		</system.web>
	</location>
	<location path="mfs.axd">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
	<appSettings>
		<!-- Check what server is currently run - Beta or Prod  -->
		<add key="BWDSiteServer" value="Beta"/>
		<add key="BWASupportOrgId" value="4BFEF6D5-D4C6-446F-AAD4-407BFDE6614F"/>
		<add key="EmailPaserDomain" value = "helpdesk.bigwebapps.com"/>
		<add key="timeout" value="00:30:00"/>
		<!-- Authentication Ticket timeout -->
		<!-- 27-Apr-06 AM: Added support for ACI connection string management.
			!!! Do not remove the markup comments!-->
		<!--ConnectionStringsStart-->
		<!--<add key="BWDCntStr" value="Data Source=home\sqlserver2000;Initial Catalog=BWD;Max Pool Size=200;User Id=sa;Password="/>-->
		<!--<add key="BWDCntStr" value="Data Source=localhost;Initial Catalog=BWD;User Id=sa;Password="/>-->
		<!--		<add key="BWDCntStr" value="Data Source=valcom;Initial Catalog=bigWebDesk_alpha;User Id=sa;Password="/> -->
		<!--ConnectionStringsEnd-->
		<!-- Remote Assistance settings -->
		<add key="RemoteAssistance" value="http://www.remotecontrol.bigwebapps.com"/>
		<add key="RemoteAssistanceTrialSessionsCountPerMonth" value="3"/>
		<!--The runtime error emailing system settings-->
		<add key="AbsolutePath" value="http://bwdmc3dev/"/>
		<add key="ExceptionMailFrom" value="administrator@micajah.com"/>
		<add key="ExceptionMailTo" value=""/>
		<add key="SMTPServer" value="localhost"/>
		<add key="ExceptionMailAdmin" value=""/>
		<!-- Error Tracker Service Settings -->
			<add key="Micajah_ErrorTracker_Service" value="http://localhost:3574/Micajah.ErrorTracker.FrontOffice/Service.asmx"/>
		<add key="ApplicationID" value="8"/>
		<!-- KB Service Settings-->
		<add key="Micajah.KBService.HelpFormatUrl" value="http://kb.helpdesk.bigwebapps.com/?i=af619dca2e1b4123aeb76339ead6744a&amp;popup=true&amp;a={0}"/>
		<!-- File Service Settings -->
		<add key="ApplicationName" value="bigwebsupport"/>
		<add key="WebFileServiceClientURL" value="http://dev2.atl2.micajah.net/MITS.FileService.Beta/Client/"/>
		<!-- Deployment Logger web service -->
		<add key="DLWebService" value="http://klebb.kc.micajah.com/bigWebApps_DeploymentLogger_Beta/WebServices/DLWebService.asmx"/>
		<!-- BackOffice web service -->
		<add key="BOWebService" value="http://klebb.kc.micajah.com/bigWebApps_BackOffice_Beta/WebServices/SignUpService.asmx"/>
		<add key="UseWindowServiceForNotifications" value="true"/>
		<!-- Warehouse Integration Settings-->
		<add key="WarehouseSoap" value="http://klebb.kc.micajah.com/bigWebApps_Warehouse_New/Services/v1/default.asmx"/>
		<add key="WarehouseListnerPage" value="http://klebb.kc.micajah.com/bigWebApps_Warehouse_New/Integration/Listner/"/>
	</appSettings>
<applicationSettings>
	<Micajah.FileService.Client.Properties.Settings>
		<setting name="WebServiceUrl" serializeAs="String">
			<value>http://klebb.kc.micajah.com/Micajah_FileService_Server_Beta/v1/FileMTOMService.asmx</value>
		</setting>
		<setting name="ApplicationId" serializeAs="String">
			<value>e17ac694-1838-4ed2-940e-b6253ff86267</value>
		</setting>
	</Micajah.FileService.Client.Properties.Settings>
</applicationSettings>
<micajah.common configSource="Micajah.Common.config" />
  <chargify defaultAccount="SherpaDesk">
    <accounts>
      <!-- The following account info needs to be customized to your own information -->
      <add name="SherpaDesk" site="https://sherpadesk.chargify.com/" apiKey="sylQNccbc30VA74Fm0FH" apiPassword="x" sharedKey="w_EmyxcneGuKkJDl9UJC" productHandle="plan1" />
    </accounts>
  </chargify>
<system.net>
	<mailSettings>
		<smtp deliveryMethod="Network" from="support@bigwebapps.com">
			<network host="mari-el.ru" defaultCredentials="false"></network>
		</smtp>
	</mailSettings>
</system.net>
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
					Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
					false will improve runtime performance of this application. 
					Set compilation debug="true" to insert debugging symbols (.pdb information)
					into the compiled page. Because this creates a larger file that executes
					more slowly, you should set this value to true only when debugging and to
					false at all other times. For more information, refer to the documentation about
					debugging ASP .NET files.
		-->
    <httpHandlers>
      <remove path="*.asmx" verb="*"/>
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>

    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>

    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
					Set customError mode values to control the display of user-friendly 
					error messages to users instead of error details (including a stack trace):

					"On" Always display custom (friendly) messages  
					"Off" Always display detailed ASP.NET error information.
					"RemoteOnly" Display custom (friendly) messages only to users not running 
					on the local Web server. This setting is recommended for security purposes, so 
					that you do not display application detail information to remote clients.
		-->
    <customErrors mode="Off"/>
    <!--  AUTHENTICATION 
					This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
					"Passport" and "None"
		-->
    <authentication mode="Forms">
      <forms name="BIGWEBDESK" loginUrl="default.aspx" path="/" protection="All" timeout="60"/>
    </authentication>
    <identity impersonate="false"/>
    <authorization>
      <!-- <allow users="*" />-->
      <deny users="?"/>
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
					Application-level tracing enables trace log output for every page within an application. 
					Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
					trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
					application trace log by browsing the "trace.axd" page from your web application
					root. 
		-->
    <trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="false"/>
    <!--  SESSION STATE SETTINGS
					By default ASP .NET uses cookies to identify which requests belong to a particular session. 
					If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
					To disable cookies, set sessionState cookieless="true".
		-->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="30"/>
    <!--  GLOBALIZATION
					This section sets the globalization settings of the application. 
		-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
		  <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
		  <add tagPrefix="mfs" namespace="Micajah.FileService.WebControls" assembly="Micajah.FileService" />
		  <add tagPrefix="mits" namespace="Micajah.Common.WebControls" assembly="Micajah.Common3" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true"/>
      <handlers>
      <remove name="PageHandlerFactory-ISAPI-2.0"/>
      <add name="Asp.net 4" path="*.aspx" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
      <add name="Asp.net axd" path="*.axd" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
      <add name="ChartImage.axd_*" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.SpellCheckHandler.axd_*" path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.DialogHandler.aspx_*" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
      <add name="Telerik.RadUploadProgressHandler.ashx_*" path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.WebResource.axd_*" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI"  preCondition="integratedMode" />
      <add name="mfs.axd_*" path="mfs.axd" verb="*" type="Micajah.FileService.Client.ResourceHandler, Micajah.FileService" preCondition="integratedMode" />
      <add name="mc.axd_*" path="mc.axd" verb="GET" type="Micajah.Common.Bll.Handlers.ResourceHandler, Micajah.Common3" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UserServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
         receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
         bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
         maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
         messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
         useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
           maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
             realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://klebb.kc.micajah.com/bigWebApps_Warehouse_Beta/Services/UserService.asmx"
       binding="basicHttpBinding" bindingConfiguration="UserServiceSoap"
       contract="Warehouse.UserServiceSoap" name="UserServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
